[submodule "Webimtech/myicecat"]
	path = Webimtech/myicecat
	url = git@github.com:Webimtech/myicecat.git
	branch = master

[submodule "Webimtech/monicecat"]
	path = Webimtech/monicecat
	url = git@github.com:Webimtech/myicecat.git
	branch = master
